body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	-webkit-user-select: none;
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	flex-wrap: wrap;
}

// !===============index.html===============//
//===============header===============//
.header {
	display: block;

	&__top {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;

		.header__top-logo {
			display: flex;
			align-items: center;

			.name-site {
				color: #000;
				font-size: 30px;
				text-transform: uppercase;
				letter-spacing: 3px;
				margin-right: 10px;
				font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
			}

			.name-site:hover {
				color: #1676d8;
				box-shadow: 0 0 10px 5px #1676d8;
				transition: .8s;
			}

			.top__logo-subtext {
				max-width: 290px;
				border-left: 1px solid #1676d8;

				p {
					font-size: 14px;
					line-height: 14px;
					margin-left: 10px;
					padding: 8px 0px;
				}
			}
		}

		.header__top-email {
			display: flex;
			flex-direction: column;

			.info {
				display: flex;
				align-items: center;
				margin-bottom: 10px;

				img {
					width: 20px;
					height: 20px;
					margin-right: 5px;
				}

				a {
					font-size: 14px;
					color: #9b373a;
				}

				.telegram {
					font-size: 15px;
					color: #9b373a;
				}

				.telegram:hover {
					font-size: 16px;
					cursor: pointer;
					margin-left: -1px;
				}

				a:hover {
					color: #9b373a;
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}

		.header__top-btn {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;

			.top__btn-b {
				background: #1676d8;
				color: #fff;
				text-decoration: none;
				font-size: 14px;
				text-align: center;
				width: 262px;
				padding: 10px 0;
				margin-bottom: 10px;
			}

			.top__btn-g {
				background: #73bc13;
				color: #fff;
				text-decoration: none;
				font-size: 14px;
				text-align: center;
				width: 262px;
				padding: 10px 0;
				margin-bottom: 20px;
			}

			.btn:hover {
				cursor: pointer;
				opacity: 0.9;
			}
		}
	}

	&__nav {
		border-bottom: 2px solid #1676d8;
		background: #f5f5f5;
	}

	.menu {

		.menu,
		li {
			position: relative;
		}

		.menu__list {
			display: flex;
			justify-content: space-between;

			li {
				padding: 11px 15px;
				width: 100%;
				text-align: center;

				.menu__link {
					color: #000;
					font-size: 14px;
					text-transform: uppercase;
				}

				.sub-menu__list {
					display: none;
					position: absolute;
					left: 0;

					li {
						min-width: 174px;
						margin-top: 15px;

						.sub-menu__link {
							font-size: 14px;
							color: #fff;
							text-transform: uppercase;
							display: inline-block;
						}

						.sub-menu__link:hover {
							text-decoration: underline;
						}
					}
				}

				.sub-menu__list>li {
					background: #1676d8;
				}
			}

			li:hover .sub-menu__list {
				display: block;
			}

			li:hover {
				background: #1676d8;
				text-decoration: underline;
				cursor: pointer;
			}

			li:hover>a {
				color: #fff;
			}
		}
	}
}

//===============main===============//
.main {
	display: flex;
	justify-content: center;
	background: url(/src/img/img1.jpg)50% 50% no-repeat;
	background-size: cover;
	min-height: 320px;

	&__title-text {
		max-width: 720px;
		display: flex;
		text-align: center;
		align-items: center;

		h1 {
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 300;
			letter-spacing: 2px;
			color: #fff;
		}
	}
}

//===============caunt===============//
.caunt {
	background: url(/src/img/statistic1.jpg)50% 50% no-repeat;
	background-size: cover;

	.caunt__title {
		margin: 20px 0 10px 0;

		h2 {
			font-size: 30px;
			color: #c35e5e;
			font-weight: normal;
			padding-left: 20px;
		}

		h2::after {
			display: block;
			width: 40px;
			height: 3px;
			margin-top: 2px;
			content: '';
			background: #c35e5e;
		}
	}

	.caunt__item {
		margin-bottom: 55px;
		display: flex;
		justify-content: space-around;

		.caunt__item-items {
			display: flex;
			flex-direction: column;
			text-align: center;

			.number {
				font-size: 28px;
				color: #c35e5e;
				font-weight: bold;
				text-decoration: underline;
				margin-bottom: 15px;
			}

			.number:hover {
				font-size: 29px;
				color: #de5050;
				margin-bottom: 14px;
				cursor: pointer;
			}

			.text {
				font-size: 18px;
				color: #1676d8;
			}
		}
	}
}

//===============info===============//
.info {
	display: flex;

	&__card {
		background: #deca39;
		width: 33.333%;
		position: relative;

		.info__card-img {
			width: 100px;
			height: 100px;
			border: 2px solid #000;
			border-radius: 50%;
			background: #deca39;
			position: relative;
			top: -25px;
			left: 36%;

			img {
				width: 75px;
				height: 75px;
				position: relative;
				top: 10px;
				left: 13px;
			}
		}

		.reds {
			background: #f34529;
		}

		.orangs {
			background: #ef8c11;
		}

		.info__card-text {
			text-align: center;

			h2 {
				font-weight: 700;
				text-transform: uppercase;
				color: #fff;
				margin-bottom: 5px;
			}

			p {
				font-size: 14px;
				line-height: 18px;
				color: #fff;
				padding-bottom: 50px;
			}
		}
	}

	.orange {
		background: #f34529;
	}

	.green {
		background: #ef8c11;
	}

	&__card:hover {
		opacity: 0.9;
		cursor: pointer;
	}
}

//===============forms===============//
.forms {
	display: flex;
	justify-content: space-between;

	&__aboutus {
		display: block;
		margin-bottom: 30px;

		h3 {
			font-size: 24px;
			font-weight: 400;
			line-height: 30px;
			margin-top: 35px;
			margin-bottom: 35px;
			border-bottom: 3px solid #1676d8;
		}

		.form {
			display: flex;
			flex-direction: column;
			margin: 50px 0 0 80px;

			input {
				border: none;
				background: #f5f5f5;
				padding: 12px 24px;
				font-size: 18px;
				width: 380px;
				height: 27px;
				margin-bottom: 20px;
			}

			input:focus {
				box-shadow: 0px 0px 10px 3px rgb(78, 164, 214);
				outline: 0;
				outline-offset: 0;
			}

			button {
				color: #fff;
				background: #1676d8;
				border: none;
				font-size: 18px;
				padding: 12px 24px;
				width: 428px;
				height: 45px;
			}

			button:hover {
				cursor: pointer;
				opacity: 0.8;
				transition: .5s;
			}
		}
	}

	&__img {
		margin: 120px 0 100px 0;

		img {
			display: block;
			width: 560px;
			height: 345px;
		}
	}
}

//===============tabs===============//
.tabs {
	&__tab {
		background: url(/src/img/tabs-img.png)50% 50% no-repeat;
		background-size: cover;
		display: flex;
		justify-content: space-between;

		.tabs__tab-items {
			display: flex;
			flex-direction: column;
			padding: 60px 0 70px 350px;

			.tabs__tab-child {
				color: #fff;
				text-transform: uppercase;
				text-decoration: none;
				font-size: 14px;
				padding: 10px 230px 10px 20px;
			}

			.tabs__tab-child:hover {
				color: #1676d8;
				background: #fff;
				font-weight: bold;
			}
		}

		.tabs__body {
			display: block;

			.tabs__block {
				padding: 60px 370px 0px 0px;
				color: #fff;
				display: none;
				width: 515px;

				h3 {
					font-size: 16px;
					margin-bottom: 15px;
				}

				p {
					font-size: 14px;
					margin-bottom: 15px;
					line-height: 16px;
				}
			}

			.tabs__block:target {
				display: block;
			}
		}
	}
}

//===============services===============//
.services {
	&__items {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		row-gap: 70px;
		margin: 70px 0;

		.services__items-item {
			display: flex;
			align-items: center;
			margin: 0 auto;
			max-width: 295px;

			img {
				display: block;
				width: 75px;
				height: 75px;
				margin-right: 20px;
			}

			p {
				font-size: 13px;
				line-height: 1.2;
				color: #000;
			}
		}
	}
}

//===============subinfo===============//
.subinfo {
	background: #1676d8;

	&__text {
		display: flex;
		justify-content: space-around;
		padding: 0 0 40px 0;

		.subinfo__text-content {

			.title {
				font-size: 36px;
				font-style: normal;
				color: #ed6a24;
				padding: 40px 0;
			}

			.title::after {
				display: block;
				width: 80px;
				height: 3px;
				margin-top: 10px;
				content: '';
				background: #ed6a24;
			}

			.content-item {
				display: flex;
				max-width: 416px;
				margin-bottom: 20px;

				img {
					display: block;
					width: 12px;
					height: 18px;
					margin-right: 10px;
				}

				p {
					color: #fff;
					font-size: 14px;
					line-height: 1.3;
				}
			}
		}
	}
}

//===============news===============//
.news {
	margin-bottom: 50px;

	.titlenews {
		text-align: center;
		font-size: 24px;
		font-weight: 300;
		color: #1676d8;
		margin: 20px 0;
	}

	&__block {
		display: flex;
		justify-content: space-around;

		.block-subtext {
			display: flex;
			align-items: center;

			img {
				display: block;
				width: 165px;
				height: 165px;
				margin-right: 20px;
			}

			.subtext {
				max-width: 420px;

				.news-title {
					font-size: 20px;
					font-weight: 400;
					line-height: 20px;
					margin-bottom: 16px;
					color: #d86565;
				}

				p {
					font-size: 14px;
					line-height: 18px;
					margin-bottom: 18px;
					font-weight: 300;
					font-style: italic;
				}

				a {
					font-size: 16px;
					line-height: 20px;
					color: #1676d8;
					text-decoration: none;
				}

				a:hover {
					text-decoration: underline;
					cursor: pointer;
					color: #0a83ff;
				}
			}
		}
	}
}

//===============iformation===============//
.iformation {
	margin-bottom: 30px;

	&__subtitle {
		p {
			font-size: 14px;
			line-height: 18px;
			margin-bottom: 18px;
		}
	}
}

//===============footer===============//
.footer {
	margin-top: auto;
	background: #404040;
	padding: 30px 0 20px 0;

	&__wraper {
		display: flex;
		justify-content: space-between;

		.block-info {
			color: #fff;
			width: 280px;

			h4 {
				font-size: 18px;
				font-weight: 400;
				text-transform: uppercase;
				margin-bottom: 10px;
				text-align: center;
			}

			p {
				font-size: 14px;
				line-height: 1.4;
				margin-bottom: 18px;
			}

			.info {
				display: flex;
				align-items: center;
				margin-bottom: 10px;

				img {
					width: 30px;
					height: 30px;
					margin-right: 5px;
				}

				.email {
					font-size: 16px;
					color: #ffffff;
				}

				.telegram:hover {
					font-size: 17px;
					color: #ffd700;
					cursor: pointer;
				}

				.email:hover {
					font-size: 17px;
					color: #ffd700;
					cursor: pointer;
					text-decoration: underline;
				}
			}
		}
	}
}

// !===============page news new===============//
.newsone {
	margin-bottom: 27px;

	&__title {
		text-align: center;
		font-size: 36px;
		font-weight: 400;
		margin: 40px 0 40px 0;
		text-transform: uppercase;
		color: #ed6a24;
	}

	.newsone__block {
		display: flex;
		justify-content: space-between;

		.block-img {
			img {
				display: block;
				border-radius: 50%;
				width: 200px;
				height: 200px;
			}

			.img2 {
				display: block;
				border-radius: 50%;
				width: 200px;
				height: 200px;
			}
		}

		.subtext {
			max-width: 925px;

			p {
				font-size: 16px;
				line-height: 1.3;
				margin-bottom: 20px;
			}
		}
	}
}

// !===============page broker===============//
.newsone {
	&__broker {
		.title-bro {
			font-size: 36px;
			font-weight: 400;
			line-height: 40px;
			margin: 40px 0 40px 0;
			text-transform: uppercase;
			color: #ed6a24;
		}

		.title-bro::after {
			content: '';
			display: block;
			width: 80px;
			height: 3px;
			margin-top: 3px;
			background: #ed6a24;
			margin-right: auto;
		}

		.broker-news {
			h2 {
				padding: 10px;
				color: #fff;
				background: #1676d8;
				font-weight: normal;
				font-size: 14px;
				line-height: 1.3;
			}
		}

		h3 {
			font-weight: bold;
			font-size: 14px;
			margin: 20px 0;
		}

		p {
			font-size: 14px;
			line-height: 1.3;
			margin-bottom: 20px;
		}

		ul {
			li {
				list-style: none;
				font-size: 14px;
				line-height: 1.4;
			}
		}
	}
}

// !===============page informaciya end trejder===============//
.info {
	&__news {
		.title {
			font-size: 36px;
			font-weight: 400;
			line-height: 40px;
			margin: 40px 0 40px 0;
			text-transform: uppercase;
			color: #ed6a24;
		}

		.title::after {
			display: block;
			width: 80px;
			height: 3px;
			margin-top: 3px;
			content: '';
			background: #ed6a24;
			margin-right: auto;
		}

		.news {
			h2 {
				font-size: 14px;
				line-height: 1.3;
				color: #fff;
				background: #1676d8;
				padding: 12px 0 12px 10px;
				font-weight: normal;
			}
		}

		h3 {
			font-size: 16px;
			margin-bottom: 12px;
		}

		p {
			font-size: 14px;
			line-height: 1.3;
			margin-bottom: 18px;
		}
	}
}

// !===============pages praviin===============//
.newsone {
	&__broker {
		.list {
			margin-bottom: 40px;
		}

		.experts {
			margin-bottom: 15px;
			display: flex;
			flex-direction: column;

			.experts-title {
				font-size: 18px;
				font-weight: bold;
				color: #000;
				margin-bottom: 10px;
			}

			.experts-wrapper {
				display: flex;
				justify-content: space-around;

				.expert {
					text-align: center;

					img {
						display: block;
						width: 170px;
						height: 170px;
						margin-bottom: 15px;
					}

					p {
						font-size: 14px;
						color: #000;
						margin-top: 10px;
						margin-bottom: 0;
					}
				}
			}
		}

		h4 {
			margin-bottom: 10px;
			font-size: 18px;
			font-weight: bold;
		}
	}
}

// !===============pages ribejt===============//
//===============ribate===============//
.ribate {
	.ribate__wrapper {
		background: url(/src/img/ribareimg/ribatefon.jpg)50% 50% no-repeat;
		background-size: cover;
		min-height: 400px;

		.ribate__wrapper-title {
			max-width: 350px;
			color: #fff;
			padding-top: 50px;
			margin-left: 400px;

			h1 {
				font-size: 30px;
				line-height: 1.2;
				text-transform: uppercase;
				font-weight: normal;
				margin-bottom: 20px;
			}

			p {
				font-size: 22px;
				line-height: 1.2;
				font-weight: normal;
			}
		}
	}

	.advantages {
		margin-bottom: 60px;

		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: normal;
			color: #000;
			margin: 45px 0;
		}

		h2::after {
			display: block;
			width: 150px;
			height: 3px;
			margin-top: 3px;
			content: '';
			background: #1676d8;
			margin-right: auto;
			margin-left: auto;
		}

		.advantages__wrapper {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 20px;

			.advent-element {
				max-width: 290px;
				margin: 0 auto;
				text-align: center;

				img {
					display: block;
					width: 100px;
					height: 100px;
					margin: auto;
				}

				p {
					font-size: 14px;
					text-transform: uppercase;
					line-height: 1.3;
					margin: 20px 0;
				}
			}
		}
	}
}

//===============dataforms===============//
.dataforms {
	&__aboutus {
		display: block;
		justify-content: center;

		h3 {
			text-align: center;
			text-transform: uppercase;
			font-size: 24px;
			font-weight: normal;
			color: #000;
		}

		h3::after {
			display: block;
			width: 750px;
			height: 3px;
			margin-top: 3px;
			content: '';
			background: #1676d8;
			margin-right: auto;
			margin-left: auto;
		}

		.form-service {
			align-items: center;
			display: flex;
			flex-direction: column;
			margin-top: 50px;

			input {
				border: none;
				background: #f5f5f5;
				padding: 12px 24px;
				font-size: 18px;
				width: 380px;
				height: 27px;
				margin-bottom: 20px;
			}

			input:focus {
				box-shadow: 0px 0px 10px 3px rgb(78, 164, 214);
				outline: 0;
				outline-offset: 0;
			}

			button {
				color: #fff;
				background: #1676d8;
				border: none;
				font-size: 18px;
				padding: 12px 24px;
				width: 428px;
				height: 45px;
			}

			button:hover {
				cursor: pointer;
				opacity: 0.8;
				transition: .5s;
			}
		}
	}

	.emails {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 40px 0;

		p {
			font-size: 18px;
			color: #000;
			margin-right: 10px;
		}

		a {
			font-size: 18px;
			color: #337ab7;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}
}

// !===============popup===============//
.popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.795);
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
	overflow-y: auto;
	transition: all .5s ease 0s;
	z-index: 999;

	.popup__body {
		min-height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 30px 10px;

		.popup__content {
			max-width: 700px;
			padding: 30px;
			position: relative;
			opacity: 0;
			transform: translate(0px, -100%);

			.popup__close {
				position: absolute;
				right: 10px;
				top: 10px;
				font-size: 20px;
				color: #fff;
				text-decoration: none;
			}

			.popup__form {
				.form-popup {
					display: flex;
					flex-direction: column;

					input {
						border: none;
						background: #f5f5f5;
						padding: 12px 24px;
						font-size: 18px;
						width: 380px;
						height: 27px;
						margin-bottom: 20px;
						border-radius: 5px;
					}

					input:focus {
						box-shadow: 0px 0px 30px 20px rgb(78, 164, 214);
						outline: 0;
						outline-offset: 0;
					}

					button {
						color: #fff;
						background: #1676d8;
						border: none;
						font-size: 18px;
						padding: 12px 24px;
						width: 428px;
						height: 45px;
						border-radius: 5px;
					}

					button:hover {
						cursor: pointer;
						background: #085db3;
						transition: .5s;
					}
				}
			}
		}
	}
}

.popup:target {
	opacity: 1;
	visibility: visible;
}

.popup:target .popup__content {
	transform: translate(0px, 0px);
	opacity: 1;
}

// !===============alert===============//
.smoke-base {
	position: fixed;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
	display: table;
	z-index: 1001;
}

.smoke-dialog_wrapper {
	position: relative;
	vertical-align: middle;
	display: table-cell;
}

.smoke-dialog {
	width: 30%;
	margin: 0 auto;
	padding: 20px;
	color: #202020;
	border: 1px solid #B6B6B6;
	border-radius: 28px;
	background-color: #f3f3f3;
	font-family: Arial;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
	line-height: 24px;
}

.smoke-dialog-buttons {
	vertical-align: middle;
	margin-top: 10px;
}

.smoke-dialog-buttons-ok,
.smoke-dialog-buttons-cancel {
	margin: 0 7px;
	padding: 8px 24px;
	border: 0;
	border-radius: 7px;
	outline: 0;
	color: white;
	background: #1676d8;
	font-family: arial;
	font-size: 14px;
	font-weight: normal;
	text-transform: none;
	line-height: 18px;
	vertical-align: baseline;
	display: inline-block;
	cursor: pointer;
}

.smoke-dialog-buttons-ok:hover,
.smoke-dialog-buttons-cancel:hover {
	background: #000;
}

.smoke-prompt {
	margin-top: 15px;
	text-align: center;
}

.smoke-prompt-input {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 75%;
	margin: 0;
	padding: 11.2px;
	border: 1.4px solid #aaa;
	outline: none;
	font-family: arial;
	font-size: 22.4px;
	background-color: white;
	display: inline-block;
}

.smoke-dialog-buttons-cancel {
	background-color: rgba(0, 0, 0, .40);
}