@media (max-width: 1550px) {

	//===============tabs===============//
	.tabs {
		&__tab {
			.tabs__tab-items {
				padding: 60px 0 70px 50px;

				.tabs__tab-child {
					padding: 10px 100px 10px 20px;
				}
			}

			.tabs__body {
				.tabs__block {
					padding: 60px 30px 0px 0px;
				}
			}
		}
	}
}

@media (max-width: 1250px) {

	//===============news===============//
	.news {
		margin-bottom: 0;

		&__block {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 15px;

			.block-subtext {
				margin-bottom: 20px;
			}
		}
	}

	//===============iformation===============//
	.iformation {
		margin-bottom: 0;

		&__subtitle {
			padding: 15px;
		}
	}

	// !===============page news new===============//
	.newsone {
		padding: 15px;

		&__title {
			font-size: 28px;
			margin: 5px 0 20px 0;
		}

		.newsone__block {
			.block-img {
				display: none;
			}

			.subtext {
				min-width: 100%;

				p {
					margin-bottom: 15px;
					text-align: justify;
				}
			}
		}
	}
}

@media (max-width: 1200px) {

	//===============header===============//
	.header {
		&__top {
			padding: 20px 15px;
		}
	}

	//===============footer===============//
	.footer {
		padding: 20px 15px;
	}

	// !===============page informaciya end trejder===============//
	.info {
		.info__news {
			.title {
				font-size: 28px;
				margin: 20px 0 20px 15px;
			}

			.news {
				margin: 0 15px 10px 15px;

				h2 {
					font-size: 14px;
					padding: 12px 0 12px 10px;
				}
			}

			h3 {
				margin: 0 15px 10px 15px;
			}

			p {
				margin: 0 15px 18px 15px;
				text-align: justify;
			}
		}
	}

	// !===============page broker===============//
	.newsone {
		margin-bottom: 0;

		&__broker {
			.title-bro {
				font-size: 28px;
				margin: 5px 0 20px 0;
			}

			.broker-news {
				margin: 0;
			}

			h3 {
				margin: 20px 0 10px 0;
			}

			p {
				margin-bottom: 20px;
				text-align: justify;
			}

			ul {
				margin: 0 15px;
			}
		}
	}

	// !===============pages praviin===============//
	.newsone {
		&__broker {
			.experts {
				margin: 0 15px 15px 15px;
			}

			h4 {
				margin: 0 15px 10px 15px;
			}
		}
	}
}

@media (max-width: 1100px) {

	//===============forms===============//
	.forms {
		.forms__aboutus {
			padding: 15px;
		}

		&__img {
			display: none;
		}
	}
}

@media (max-width: 1060px) {

	//===============info===============//
	.info {
		display: flex;
		flex-direction: column;

		&__card {
			background: #deca39;
			min-width: 100%;
			position: relative;

			.info__card-img {
				width: 100px;
				height: 100px;
				border: 2px solid #000;
				border-radius: 50%;
				background: #deca39;
				position: relative;
				top: -25px;
				left: 45%;
			}

			.reds {
				background: #f34529;
			}

			.orangs {
				background: #ef8c11;
			}
		}
	}

	//===============services===============//
	.services {
		&__items {
			padding: 0 15px;
		}
	}
}

@media (max-width: 970px) {

	//===============tabs===============//
	.tabs {
		&__tab {
			.tabs__tab-items {
				padding: 30px 0 30px 15px;

				.tabs__tab-child {
					padding: 10px 50px 10px 20px;
				}
			}

			.tabs__body {
				.tabs__block {
					padding: 30px 15px 0px 0px;
					width: 300px;
				}
			}
		}
	}
}

@media (max-width: 900px) {

	//===============footer===============//
	.footer {
		&__wraper {
			display: flex;
			flex-direction: column;

			.block-info {
				text-align: center;
				width: 100%;

				.info {
					display: inline;
					margin: 0px;
				}
			}

			.media {
				display: flex;
				justify-content: space-between;
				align-items: center;

				.info {
					display: flex;
					flex-direction: column;

					img {
						margin: 0 0 5px 0;
						width: 25px;
						height: 25px;
					}
				}
			}
		}
	}
}

@media (max-width: 830px) {

	//===============header===============//
	.header {
		&__top {
			.header__top-btn {
				.top__btn-b {
					width: 200px;
					margin-left: 15px;
				}

				.top__btn-g {
					width: 200px;
					margin-left: 15px;
				}
			}
		}
	}

	// !===============popup===============//
	.popup {
		position: fixed;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.795);
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
		overflow-x: hidden;
		overflow-y: auto;
		transition: all .5s ease 0s;
		z-index: 999;

		.popup__body {
			min-height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 30px 10px;

			.popup__content {
				max-width: 350px;
				padding: 30px;
				position: relative;
				opacity: 0;
				transform: translate(0px, -100%);

				.popup__close {
					position: absolute;
					right: 5px;
					top: 5px;
					font-size: 25px;
					color: #fff;
					text-decoration: none;
				}

				.popup__form {
					.form-popup {
						display: flex;
						flex-direction: column;

						input {
							border: none;
							background: #f5f5f5;
							padding: 12px 24px;
							font-size: 18px;
							width: 250px;
							height: 27px;
							margin-bottom: 20px;
							border-radius: 5px;
						}

						input:focus {
							box-shadow: 0px 0px 30px 20px rgb(78, 164, 214);
							outline: 0;
							outline-offset: 0;
						}

						button {
							color: #fff;
							background: #1676d8;
							border: none;
							font-size: 18px;
							padding: 12px 24px;
							width: 100%;
							height: 45px;
							border-radius: 5px;
						}

						button:hover {
							cursor: pointer;
							background: #085db3;
							transition: .5s;
						}
					}
				}
			}
		}
	}

	.popup:target {
		opacity: 1;
		visibility: visible;
	}

	.popup:target .popup__content {
		transform: translate(0px, 0px);
		opacity: 1;
	}
}

@media (max-width: 800px) {

	//===============header===============//
	.header {
		&__top {
			.header__top-logo {
				display: flex;
				flex-direction: column;

				.name-site {
					margin-right: 0px;
				}

				.top__logo-subtext {
					border-left: none;

					p {
						margin: 0 10px 0 0;
						text-align: center;
					}
				}
			}
		}
	}

	// !===============ribejt page===============//
	//==============ribate================//
	.ribate {
		.ribate__wrapper {
			padding: 0 15px;

			.ribate__wrapper-title {
				margin-left: 50px;
			}
		}

		.advantages {
			margin-bottom: 30px;

			h2 {
				font-size: 20px;
				margin: 20px 0;
			}

			.advantages__wrapper {
				gap: 15px;
				padding: 0 15px;

				.advent-element {
					max-width: 290px;

					img {
						width: 70px;
						height: 70px;
					}

					p {
						font-size: 12px;
					}
				}
			}
		}
	}

	//==============dataforms================//
	.dataforms {
		&__aboutus {
			padding: 0 15px;

			h3 {
				font-size: 20px;
			}

			h3::after {
				display: block;
				width: 350px;
				height: 3px;
				margin-top: 3px;
				content: '';
				background: #1676d8;
				margin-right: auto;
				margin-left: auto;
			}

			.form-service {
				margin-top: 30px;

				input {
					width: 320px;
				}

				button {
					max-width: 368px;
				}
			}
		}

		.emails {
			display: flex;
			flex-direction: column;
			margin: 20px 0;

			p {
				margin: 0 0 10px 0;
			}
		}
	}

	// !===============pages praviin===============//
	.newsone {
		&__broker {
			.experts {
				.experts-wrapper {
					display: flex;
					justify-content: space-around;

					.expert {
						max-width: 140px;

						img {
							width: 140px;
							height: 140px;
						}

						p {
							text-align: center;
							margin: 0;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 600px) {

	//===============header===============//
	.header {
		.header__top {
			display: flex;
			flex-direction: column;
			padding: 10px 15px;

			.header__top-email {
				display: none;
			}

			.header__top-btn {
				.btn {
					margin: 0 0 10px 0;

				}
			}
		}

		.header__nav {
			.menu__list {
				flex-wrap: wrap;

				li {
					padding: 11px 7px;

					.sub-menu__list {
						display: none;
						position: absolute;
						left: 0;

						li {
							min-width: 100px;
							margin-top: -27px;
						}
					}
				}
			}
		}
	}

	//===============caunt===============//
	.caunt {
		.caunt__item {
			padding: 0 15px;

			.caunt__item-items {
				.number {
					font-size: 20px;
				}

				.text {
					font-size: 12px;
				}
			}
		}
	}

	//===============subinfo===============//
	.subinfo {
		&__text {
			padding: 15px 0;

			.subinfo__text-content {
				.title {
					padding: 0 15px 20px 15px;
				}

				.content-item {
					padding: 0 15px;
				}
			}
		}
	}

	//===============forms===============//
	.forms {
		.forms__aboutus {
			.form {
				margin: 20px 0 0 0;

				input {
					width: 270px;
				}

				button {
					width: 100%;
				}
			}
		}
	}

	//===============tabs===============//
	.tabs {
		display: none;
	}

	//===============services===============//
	.services {
		&__items {
			padding: 0 15px;
			margin: 20px 0;
			row-gap: 30px;
			display: flex;
			flex-wrap: wrap;
		}
	}

	//===============news===============//
	.news {
		&__block {
			.block-subtext {
				img {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 500px) {

	//===============info===============//
	.info {
		display: flex;
		flex-direction: column;

		&__card {
			background: #deca39;
			min-width: 100%;
			position: relative;

			.info__card-img {
				width: 100px;
				height: 100px;
				border: 2px solid #000;
				border-radius: 50%;
				background: #deca39;
				position: relative;
				top: -25px;
				left: 39%;
			}

			.reds {
				background: #f34529;
			}

			.orangs {
				background: #ef8c11;
			}
		}
	}

	// !===============pages praviin===============//
	.newsone {
		&__broker {
			.experts {
				.experts-wrapper {
					.expert {
						max-width: 100px;

						img {
							width: 100px;
							height: 100px;
						}

						p {
							font-size: 11px;
						}
					}
				}
			}
		}
	}

	// !===============alert===============//
	.smoke-dialog {
		width: 50%;
	}
}